.footer{background:#161616;}
.footer-max-width{width:75%;}
.footer-max-width25{width:25%;display:block;margin:0;}
.footer-jc-center{justify-content:center;}
.social-padi-top{padding-top:40px;}
.footer-di-flex{display:flex;flex-wrap:wrap;justify-content:center;}
.footer__content-top{padding-bottom:0;}
.disp-nnon{display:none;}
.newsletter-form__button{position:static;width:100%;border:1.2px solid #fff;max-height:35px;margin-top:15px;}
.footer-subscribe{margin:0;padding:10px 0;}
.footer-block__heading{display:flex;align-items:center;}
.paddingleftimg{margin-right:20px;}
.footer-icon-transform{transform:rotate(180deg);}
.footer-block__heading img{display:none;}
.footer__copyright{margin-top:0;}
.field__label{color: #7C7C7C;}
.field__input{background:#ffffff;}



@media screen and (max-width:650px){
  .footer-block.grid__item{margin:15px 0;}
  .footer-max-width{width:100%;}
  .footer-block__heading{margin-bottom:10px;}
  .footer-block__details-content .list-menu__item--link{padding-top:5px;padding-bottom:5px;}
}
@media screen and (max-width:989px){
  .footer-max-width25{width:100%;display:flex;flex-direction:column;align-items:center;}
  .footer-max-widt{row-gap:30px;}
  .footer-block__newsletter{display:flex;flex-direction:column;align-items:center;}
  .footer-max-width{flex-direction:column;}
  .respons-widthi{width:100%!important;}
  .footermenu1,.footermenu2,.footermenu3{width:100%;border-bottom:1px solid #8d8d8d;margin-bottom:0;padding-bottom:2rem;display:flex;justify-content:space-between;}
  .footer-block__heading img{display:block;}
  .footer-max-width25{padding-top:40px;}
  .social-padi-top{padding-top:10px;}
  .footer__content-bottom{padding-top:15px;}
}