
.first-content{min-width:50%;height:auto;background:#F5F5F5;display:flex;align-items:center;}
.detail-box{padding-left:80px;padding-right:80px;}
.detail-box p{margin:0;}
.title{margin:0;text-transform: uppercase;}
.title p{font-weight:600;}
.heading p{font-size:50px;font-weight:600;}
.banner__buttons{margin-top: 35px;}
.trusted{display:flex;align-items: center;margin-top:35px;}
.customer_img{margin-right:15px;}
.customer_review p{font-weight:600;}
.profile_img{max-width:100%;}
.button:before{display:none;}
.button:after{display:none;}
.buton_hover{position:relative;overflow:hidden;}
.buton_effect::before{content:'';width:1px;height:1px;background:#000000;position:absolute;top:0%;left:3%;border-radius:50%;transform:scale(1);transition:all 0.5s ease-in-out;}
.buton_hover:hover .buton_effect::before{left:45%;transform:scale(190);transition:all 0.5s ease-in-out;}
.buton_colur{background:transparent;color:#000000;border:1px solid #000000;transition:all 0.3s ease-in-out;}
.buton_hover:hover .buton_colur{color:#ffffff;transition:all 0.3s ease-in-out;}
.second-content{min-width:50%;}
.dis--none{display:none!important;}
.position-ab{position:absolute;bottom:3%;left:50%;transform:translateX(-50%);}
.banner__box{padding:0;}

@media screen and (max-width: 1150px){
  .heading p{font-size: 30px;}
}
@media screen and (max-width: 990px){
  .first-content{min-width:100%;order:2;padding:20px 0;}
  .second-content{min-width:100%;order:1}
  .main-content{flex-direction:column;}
  .detail-box{padding-left:30px;padding-right:30px;}
}
